* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: 0;
    background-color: #bbb;
}

nav {
    width: 100%;
    display: flex;
    height: 100px;
}

.navitem {
    font-size: 2rem;
    border-radius: 5px 5px 0 0;
    border-right: 3px solid slategray;
    padding: 20px;
    color: slategray;
    transition: all 1s;
}


.active {
    background-color: lightgray;
}

section {
    background-color: lightgray;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s;
}

form {
    display: flex;
    flex-direction: column;
}

input, select {
    width: 200px;
    height: 1.8rem;
    border-radius: 3px;
    border: none;
    margin-top: 5px;
}

select {
    height: 2rem;
}

button {
    background-color: lightblue;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #bbb;
    cursor:grab;
}
